# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Assignment5.iml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\Assignment5\.idea\.idea.Assignment5\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
